{{> header}}

<div class="container flex-box-center" style="margin-top: 80px;">
    <h3>Welcome!</h3>
</div>
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Airplaines</h5>
                    <a href="bookings" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Airports</h5>
                    <a href="tables" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}